{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard"
  ],
  "plugins": [
    "security"
  ],
  "rules": {
    "semi": [2, "never"],
    "indent": [2, "tab"],
    "no-tabs": 0
  },
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  }
}
